body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #cc6504e1;
    background-image: url("photos/dragon.jpg");
    background-size: cover;
    /* roztáhne obrázek přes celou plochu */
    background-position: center;
    /* zarovná obrázek na střed */
    background-repeat: no-repeat;
    /* zabrání opakování obrázku */
    background-attachment: fixed;
    /* obrázek zůstane na místě při scrollování */
}

.mid {
    display: block;
    margin: 0 auto;
}

.midSize {
    width: 600px;
    /* nebo jiná velikost podle potřeby */
    height: auto;
}
.image-row {
  display: flex;
  justify-content: center; /* zarovná obrázky na střed */
  gap: 20px;               /* mezera mezi obrázky */
}

.h2-mode {
  animation: blinkColor 2s infinite;
}

@keyframes blinkColor {
  0%   { color: rgba(7, 10, 170, 0.527); }
  50%  { color: rgba(172, 5, 5, 0.692); }
  100% { color: red; }
}
